<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
</head>
<body>
    <h1>Página não encontrada :(</h1>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="http://localhost:3000/service">Serviços</a></li>
            <li><a href="http://localhost:3000/about">Sobre-nos</a></li>
        </ul>
    </nav>
    <div>
        <h2>Página não encontrada, por favor retorne ao menu acima</h2>
    </div>
</body>
</html>