<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviço</title>
</head>
<body>
    <h1>Serviço</h1>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="http://localhost:3000/service">Serviços</a></li>
            <li><a href="http://localhost:3000/about">Sobre-nos</a></li>
        </ul>
    </nav>
    <p>Investimentos</p>
    <p>Sistema Web</p>
    <p>Sistema Mobile</p>
</body>
</html>